pkg/*
doc/*
*.gem
*.rbc
.*.swp
*.bak
.bundle
bundle
.yardoc
.rbx
.rvmrc
.rbenv-version
.idea
Gemfile.lock
bin/fsevent_watch_guard
Makefile

.guard_result
coverage/

## MAC OS
.DS_Store
.Trashes
.com.apple.timemachine.supported
.fseventsd
Desktop DB
Desktop DF

.ruby-version
.tm_properties