pkg/*
doc/*
*.gem
*.rbc
.*.swp
*.bak
.bundle
bundle
.yardoc
.rbx
.rvmrc
.rbenv-version
.idea
Gemfile.lock
bin/fsevent_watch_guard
Makefile
.guard_result
coverage/
.ruby-version
.tm_properties
man/guard
man/guard.html
/tags
