language: ruby
sudo: false
rvm:
  - 2.3.6
  - 2.4.3
  - 2.5.0
  - jruby-9.1.15.0
  - rbx-2
matrix:
  allow_failures:
    - rvm: rbx-2
env:
  global:
    - JRUBY_OPTS="--debug"
script:
  - bundle exec rake
  - bundle exec codeclimate-test-reporter
bundler_args: --without development
cache: bundler
addons:
  code_climate:
    repo_token: 185a714e42214b9369217d0ddfd5a02d528d9a616a34482119a16c63241d6afd
