--title 'Guard Documentation'
--no-private
--embed-mixin ClassMethods
--exclude lib/guard/internals
--readme README.md
--markup markdown
--markup-provider redcarpet
--output-dir ./doc
lib/**/*.rb
-
CHANGELOG.md
LICENSE
